<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.cencosud.mobile" />

    <!-- Define the list of JAX-RS resources to use: -->
    <bean class="com.github.mfpdev.adapters.spring.integration.JAXRSResourcesRegistryImpl">
        <property name="resources">
            <list>
                <bean class="com.cencosud.mobile.search.adapter.r1.CatalogApiWongV1"/>
                <bean class="com.cencosud.mobile.search.adapter.r1.CatalogApiWongV2"/>
                <bean class="com.cencosud.mobile.search.adapter.r2.CatalogApiJumboV1"/>
            </list>
        </property>
    </bean>
</beans>