<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="com.cencosud.mobile.service.CategoriesApiServiceImpl">
        <property name="apiBaseUrl" value="${api_base_url}"/>
        <property name="apiClientId" value="${api_client_id}"/>
        <property name="apiSecret" value="${api_secret}"/>
    </bean>

    <!-- AppConfig bean holds the configuration properties for the application -->
 	<!-- <bean class="com.cencosud.mobile.config.AppConfig">
        <property name="proxyUrl" value="${network.proxy.url}"/>
        <property name="proxyPort" value="${network.proxy.port}"/>
        <property name="clientId" value="${recommendations.rest.search.x-ibm_client_id}"/>
        <property name="clientSecret" value="${recommendations.rest.search.x_ibm_client_secret}"/>
        <property name="apiBaseUrl" value="${recommendations.rest.search.url}"/>
        <property name="apiBasePath" value="${recommendations.rest.search.base_path}"/>
    </bean>  -->
    
    <!-- Define the list of JAX-RS resources to use: -->
    <bean class="com.github.mfpdev.adapters.spring.integration.JAXRSResourcesRegistryImpl">
        <property name="resources">
            <list>
                <bean class="com.cencosud.mobile.categories.adapter.r1.CategoriesApiWongV1"/>
                <bean class="com.cencosud.mobile.categories.adapter.r1.CategoriesApiWongV2"/>
                <bean class="com.cencosud.mobile.categories.adapter.r2.CategoriesApiJumboV1"/>
            </list>
        </property>
    </bean>
    
    <!-- property file used for each profile -->
    <beans profile="dev,qa,sandbox,uat">
    	<context:property-placeholder location="classpath:application-${spring.profiles.active}.properties" ignore-unresolvable="true"/>
    </beans>
    <!-- property file used as default if no profile is set -->
    <beans profile="!dev,!qa,!sandobx,!uat">
    	<context:property-placeholder location="classpath:application-default.properties" ignore-unresolvable="true"/>
    </beans>
</beans>