<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="com.cencosud.mobile.service.impl.WongUserProfileApiServiceV1Impl"
        id="userProfileServiceV1">
        <property name="apiBaseUrl" value="${api_base_url}" />
        <property name="apiClientId" value="${api_client_id}" />
        <property name="apiSecret" value="${api_secret}" />
    </bean>

    <bean class="com.cencosud.mobile.service.impl.CategoriesApiServiceImpl"
        id="categoriesService">
        <property name="apiBaseUrl" value="${api_base_url}" />
        <property name="apiClientId" value="${api_client_id}" />
        <property name="apiSecret" value="${api_secret}" />
    </bean>

    <bean id="restServiceUtilV1"
          class="com.cencosud.mobile.util.RestServiceUtil">
        <property name="apiBaseUrl" value="${api_base_url}" />
        <property name="apiClientId" value="${api_client_id}" />
        <property name="apiSecret" value="${api_secret}" />
    </bean>
    
    <bean id="restServiceUtilV2"
          class="com.cencosud.mobile.util.RestServiceUtil">
        <property name="apiBaseUrl" value="${api_base_url_wong_v2}" />
        <property name="apiClientId" value="${api_client_id_wong_v2}" />
        <property name="apiSecret" value="${api_secret_wong_v2}" />
    </bean>

    <bean class="com.cencosud.mobile.service.impl.JumboUserProfileApiServiceImpl"
        id="jumboUserProfileService">
        <property name="apiBaseUrl" value="${api_base_url}" />
        <property name="apiClientId" value="${api_client_id}" />
        <property name="apiSecret" value="${api_secret}" />
        <property name="restServiceUtil" ref="restServiceUtilV1" />
    </bean>
    
    <bean class="com.cencosud.mobile.service.impl.WongUserProfileApiServiceV2Impl"
        id="userProfileServiceV2">
        <property name="apiBaseUrl" value="${api_base_url_wong_v2}" />
        <property name="apiClientId" value="${api_client_id_wong_v2}" />
        <property name="apiSecret" value="${api_secret_wong_v2}" />
        <property name="restServiceUtil" ref="restServiceUtilV2" />
    </bean>

    <bean
        class="com.github.mfpdev.adapters.spring.integration.JAXRSResourcesRegistryImpl">
        <property name="resources">
            <list>
                <bean class="com.cencosud.mobile.adapter.WongUserProfileV1Resource">
                    <property name="userProfileService" ref="userProfileServiceV1" />
                    <property name="categoriesService" ref="categoriesService" />
                </bean>
                <bean
                    class="com.cencosud.mobile.adapter.JumboUserProfileResource">
                    <property name="userProfileService" ref="jumboUserProfileService" />
                </bean>
                <bean
                    class="com.cencosud.mobile.adapter.WongUserProfileV2Resource">
                    <property name="userProfileService" ref="userProfileServiceV2" />
                </bean>
            </list>
        </property>
    </bean>
</beans>